/**
 * @file styles/westernPAHistory.css
 *
 * @brief styles for Western PA History Theme
 */

/* Hide article and issue publication dates */
div.article-details-published,
div.h6.homepage-issue-published,
div.page-issue-date, p.issue-summary-date {
  display: none;
}

/* Page number read-out for screen readers */
div.article-summary-pages::before,
div.search-results .pagination a::before {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  content: "page:";
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Prevent homepage full issue description collision on mobile */
div.homepage-issue-galleys.page-issue-description-wrapper {
  margin-top: 48px;
}

/* Don't trim journal description on home page */
div.homepage-journal-description.long-text {
  max-height: none;
  overflow-y: visible;
}

/* Underline links in content */
div.page-content p a {
  text-decoration: underline;
}

/* Improve color contrast on search form */
div.search-filters h2, .search-filters label {
  color: black;
}

/* Increase space between pager items when wrapped */
div.search-results .pagination a {
  margin-bottom: 12px;
}

/* Don't reduce font size of user notifications count */
span.badge {
  font-size: 1em;
}

/* Reduce whitespace above issue contents on homepage */
@media (min-width: 1200px) {
  .container-homepage-issue .issue-image-cover {
    margin-top: 0;
  }
}

/* Adjust parent media query to account for added `main` region */
@media (min-width: 1200px) {
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-current,
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-identifier,
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-published {
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
}

/* Adjust parent media query to account for added `main` region */
@media (min-width: 1200px) {
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-current {
    margin-top: 3rem;
  }
}

/* Adjust parent media query to account for added `main` region */
@media (min-width: 1400px) {
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-current {
    margin-top: 4.5rem;
  }
}
