/* #############################################
 * Custom styling for Western PA History journal
 *
 * cjw36 02 Feb 2026
 * ############################################# */

/* test rule */
/* * {background-color: green;} */