/* **********************************************
 * Custom styling for Western PA History journal
 *
 * cjw36 02 Feb 2026
 * ********************************************** */


/* ********************************************
   
   ******************************************** */
