/**
 * @file styles/westernPAHistory.css
 *
 * @brief styles for Western PA History Theme
 */

/* Underline links in content */
div.page-content p a {
  text-decoration: underline;
}
 
/* Adjust parent rule to account for added `main` region */
@media (min-width: 1200px) {
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-current,
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-identifier,
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-published {
    color: #fff;
    text-shadow: 0 0 2px #000;
  }
}

/* Adjust parent rule to account for added `main` region */
@media (min-width: 1200px) {
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-current {
    margin-top: 3rem;
  }
}

/* Adjust parent rule to account for added `main` region */
@media (min-width: 1400px) {
  .homepage-image-behind-issue + main .container-homepage-issue .homepage-issue-current {
    margin-top: 4.5rem;
  }
}
